bincache/
libhts.a
src/vcf2fasta/vcf2fasta
submodules/samtools-1.3.1/
submodules/samtools-1.3.1.tar.bz2
venv
*.pyd
*.pyc
*.so
*#
*~
*.swp
.#*
*.egg-info
build
dist
deb_dist
tmp/
*.gz
*__pycache__*
*.fna
