include src/*.c
include src/*.h
include README.md
include LICENSE.md
include requirements.txt
include build.py
include Makefile
graft submodules/samtools-*/htslib-*
prune submodules/samtools-*/htslib-*/test
graft images
prune build
prune docs
