# medaka requirements. 
# Add comments to keep track of why we are using particular versions
biopython>=1.73,<1.77  # 1.76 is last version of this whatshap dependency to support python < 3.6
cffi
edlib
grpcio 
h5py<3.0.0
intervaltree
tensorflow==2.2.0
numpy
mappy
ont_fast5_api
parasail
pysam==0.16.0.1       # 0.16.0 is broken, various others too
pyspoa>=0.0.3         # 0.0.2 has portable instruction set, and py38 wheels
requests
whatshap>=0.18        # added --ignore-read-groups to haplotag

