# medaka requirements. 
# Add comments to keep track of why we are using particular versions
biopython
cffi
h5py==2.7.1         # 2.8.0 and 2.9.0 seem to not like keras model writing
intervaltree
tensorflow==1.14.0
numpy==1.16.1       # tensorflow needs numpy>=1.13.3, travis needs this forced
mappy
parasail
pysam==0.15.2       # latest with non-broken wheels (21Aug2019)
pyyaml==5.1
whatshap==0.18      # added --ignore-read-groups to haplotag
